 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 h2{
    margin-bottom: 2rem;
 }
 body {
      font-family: Arial, sans-serif;
      background: #f9f9f9;
      margin: 20px;
    }
    form {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      max-width: 500px;
      margin: auto;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    label {
      font-weight: bold;
      display: block;
      margin-top: 15px;
    }
    input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="checkbox"] {
      width: auto;
      margin-top: 10px;
    }
    button {
      margin-top: 20px;
      padding: 10px;
      width: 100%;
      background: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: #0056b3;
    }
    textarea {
        height: 120px;        /* altura fija */
        resize: none;         /* evita que el usuario lo estire con el mouse */
        overflow-y: auto;     /* scroll vertical solo cuando sea necesario */
    }